.App {
  display: flex;
  justify-content: center;
}

.checkbox {
  width: 60vh;
  height: 50vh;
}

.checkbox h1 {
  text-align: center;
}

input{
  margin: 1rem
}

.loadbar {
  width: 100%;
  height: 10px;
  background-color: #eeeeee;
}

.progress {
  width: 50%;
  height: 100%;
  background-color: coral;
}
